backend/server/HELP.md
backend/server/target/
backend/server/!.mvn/wrapper/maven-wrapper.jar
backend/server/!**/src/main/**/target/
backend/server/!**/src/test/**/target/


### STS ###
backend/server/.apt_generated
backend/server/.classpath
backend/server/.factorypath
backend/server/.project
backend/server/.settings
backend/server/.springBeans
backend/server/.sts4-cache

### IntelliJ IDEA ###
backend/server/.idea
backend/server/*.iws
backend/server/*.iml
backend/server/*.ipr

### NetBeans ###
backend/server//nbproject/private/
backend/server//nbbuild/
backend/server//dist/
backend/server//nbdist/
backend/server//.nb-gradle/
backend/server/build/
backend/server/!**/src/main/**/build/
backend/server/!**/src/test/**/build/

### VS Code ###
backend/server/.vscode/
.vscode/

### Application Properties ###
backend/server/src/main/resources/application.properties


# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
